.hangup-area {
    flex-grow: 1;
    position : relative;
    color    : #fff;
}


.background {
    position: absolute;
    width   : 100%;
    height  : 100%;
}

.icon-cover {
    position           : absolute;
    left               : 15px;
    top                : 15px;
    height             : 40px;
    display            : flex;
    -webkit-user-select: none;
    user-select        : none;
    z-index            : 100;
    -webkit-app-region : drag;

}

.icon-cover .item {
    width           : 100px;
    display         : flex;
    border-radius   : 5px;
    background-color: #0000006e;
    align-items     : center;
    margin-right    : 5px;
}

.icon-cover .icon {
    width              : 32px;
    height             : 32px;
    background-size    : contain;
    background-repeat  : no-repeat;
    background-position: center;
    margin-right       : 5px;
}

.icon.leek {
    background-image: url("/images/Icon_Leek.png");
}

.icon.coin {
    background-image: url("/images/Icon_Coin.png");
}

.restaurant {
    position: absolute;
    width   : 100%;
    height  : 100%;
    z-index : 10;
}

.table {
    position          : absolute;
    z-index           : 50;
    background-image  : url("/images/zhuozi.png");
    width             : 100%;
    height            : 90px;
    background-size   : 171px 99px;
    bottom            : 10px;
    -webkit-app-region: drag;

}

.belts {
    position          : absolute;
    z-index           : 51;
    background-image  : url("/images/chuansong.png");
    background-size   : 171px 45px;
    height            : 45px;
    width             : 100%;
    bottom            : 0;
    -webkit-app-region: drag;

    /* animation       : belt-move 1s ease-in-out infinite; */
}

@keyframes belt-move {
    80% {
        background-position: 0px 0;
    }

    100% {
        background-position: 171px 0;
    }
}

.cook-table {
    position          : absolute;
    width             : 146px;
    bottom            : 50px;
    z-index           : 55;
    -webkit-app-region: drag;

}

.cook {
    position          : absolute;
    z-index           : 49;
    bottom            : 40px;
    left              : 60px;
    width             : 202px;
    -webkit-app-region: drag;
    transform         : translate(-50%, 0);
}

.cook-hand {
    position : absolute;
    z-index  : 150;
    left     : 60px;
    width    : 202px;
    transform: translate(-50%, 0);

}

.cook-leek {
    position: absolute;
    z-index : 100;
    width   : 80px;
    bottom  : 65px;
    left    : 25px;
}

.custom {
    position          : absolute;
    bottom            : 25px;
    z-index           : 40;
    left              : 2256px;
    transition        : all 0.25s ease-in-out;
}

.custom .role {
    width           : 171px;
    transform       : translate(-50%, 0);
    transform-origin: center bottom;
}

.hand {
    width     : 171px;
    position  : absolute;
    left      : 2256px;
    transition: all 0.25s ease-in-out;
    z-index   : 120;
    bottom    : 25px;
    transform : translate(-85px, 0);
}

.plate-cover {
    transform : translate(-50%, -50%);
    position  : absolute;
    left      : 85px;
    bottom    : 5px;
    z-index   : 80;
    transition: all 0.25s ease-in-out;

}

.plate {
    width             : 82px;
    height            : 43px;
}

.jiaozi {
    position          : absolute;
    width             : 44px;
    left              : 0;
    top               : -10px;
    z-index           : 1;
}

.jiaozi:nth-of-type(2) {
    left   : 15px;
    z-index: 0;
}

.jiaozi:nth-of-type(3) {
    left   : 25px;
    top    : -5px;
    z-index: 5;
}

.jiaozi:nth-of-type(4) {
    left   : 15px;
    top    : 10px;
    z-index: 10;
}

.jiaozi:nth-of-type(5) {
    left   : 25px;
    top    : 8px;
    z-index: 9;
}

.jiaozi:nth-of-type(6) {
    left   : 5px;
    top    : 4px;
    z-index: 9;
}